// General
.flex {
  display: flex;
  gap: var(--gap-space, 1rem);
}

.flex-align-center {
  @extend .flex;
  align-items: center;
}

.flex-center {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  gap: var(--gap-space, 1rem);
}

.grid-center {
  @extend .grid;
  place-content: center;
}
